.gp6-h-box{
    width: 100%;
    display: flex;
    justify-content: center;
}

.gp6-h{
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-size: 3vw;
    font-weight: 700;
}
.gp6-underline-box{
    display: flex;
}
.gp6-underline{
    height: 0.5vh;
    width: 50%;
    display: flex;
}
.gp6-card-box{
    padding: 5vh 5vw;
}
.gp6-img{
    width: 60%;
}
.gp6-card-box-inner-card-number{
    font-size: 6vw;
    font-weight: 900;
    color: gray;
}
.gp6-card-box-inner-card-heading{
    font-size: 4vw;
    font-weight: 500;
}
.gp6-card-box-inner-card-para{
    font-size: 1.5vw;
    margin-left: 10%;
}
.gp6-card-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gp6-card-content{
    display: flex;
}