.gp6-h-box{
    width: 100%;
    display: flex;
    justify-content: center;
}

.gp6-h{
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-size: 3vw;
    font-weight: 700;
}
.gp6-underline-box{
    display: flex;
}
.gp6-underline{
    height: 0.5vh;
    width: 50%;
    display: flex;
}
.gp6-card-box{
    padding: 5vh 5vw;
}
.gp6-img{
    width: 60%;
}
.gp6-card-box-inner-card-number{
    font-size: 6vw;
    font-weight: 900;
    color: gray;
}
.gp6-card-box-inner-card-heading{
    font-size: 4vw;
    font-weight: 500;
}
.gp6-card-box-inner-card-para{
    font-size: 1.5vw;
    margin-left: 10%;
    text-align: justify;
}
.gp6-card-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gp6-card-content{
    display: flex;
}
.gp6-round{
    scale: 0.75;
}
.gp6-main{
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* Media Query */
@media only screen and (max-width: 479.99px) {
    .gp1-heading {
        font-size: 4.5vw;
        margin-top: 2.5vh;
        flex-direction: column;
    }

    .gp1-para {
        font-size: 3.5vw;
        padding: 0 0vw;
    }

    .GlimPage1 {
        padding: 2.5vh 5vw;
    }

    .stop-text {
        font-size: 7vw;
    }

    .vr-logo {
        margin-top: 1.5vh;
        height: 6vw;
        filter: invert(59%) sepia(100%) saturate(683%) hue-rotate(2deg) brightness(107%) contrast(103%);
    }

    .stop-img {
        scale: 1;
        margin-bottom: 1vh;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767.99px) {
    

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    


}