.navbar-nav .nav-link {
    color: #fff;
}

.dropend .dropdown-toggle {
    margin-left: 1em;
    text-align: center;
}
.dropdown-item{
    color: white;
}
.dropend:hover {
    background-color: gray;
    color: #fff;
}
.dropdown-item:hover {
    background-color: gray;
    color: #fff;
}

.dropdown .dropdown-menu {
    display: none;
    background:#232323;
    border-radius: 0;
    color: white;
    text-align: center;
}

.dropdown:hover>.dropdown-menu,
.dropend:hover>.dropdown-menu {
    display: block;
    color: "white";
}

@media screen and (min-width: 769px) {
    .dropend:hover>.dropdown-menu {
        position: absolute;
        top: 0;
        left: 100%;
    }

    .dropend .dropdown-toggle {
        margin-left: 0.5em;
    }
}