.up-butn{
    rotate: -90deg;
}
.down-butn{
    rotate: 90deg;
}
.down-butn,.up-butn{
    border: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    opacity: 0.5;
    padding: 1.5vh;
    text-decoration: none;
    color: gray;
}
.up-down-butn{
    position: fixed;
    right: 1vh;
    bottom: 1vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}